* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

/* Header Styling */

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */

  height: 65px;
  background: rgb(26, 230, 207);
  background: linear-gradient(
    15deg,
    rgba(26, 230, 207, 1) 8%,
    rgba(215, 186, 34, 1) 53%,
    rgba(39, 227, 195, 1) 98%
  );
  color: #fff;
  padding: 15px;
}

.header-image {
  width: 30px;
  /* height: 100%; */
  margin-right: 6px;
}

.header-title {
  font-size: 1.4rem;
  margin-right: auto;
}

.header-text {
  font-size: 0.9rem;
  font-weight: 600;
}

/* Form Styling */

section {
  margin: 0 auto;
  padding: 2em 1em;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-btn {
  grid-column: 1 / -1;
  background-color: #13bfac;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.form-input {
  font-family: "Quicksand", sans-serif;
  border: 1px solid rgb(26, 230, 207);
  border-radius: 5px;
  text-indent: 0.5em;
}

.gen-img {
  width: 20px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme-img {
  margin-top: 1em;
  /* width: 90%; */
  border-radius: 15px;
  max-width: 100%;
}
